services:
  frontend:
    build:
      context: ./frontend
    ports:
    - 3000:80
    depends_on:
    - backend
    environment:
      VITE_API_URL: http://localhost:5000/api
  backend:
    build:
      context: ./backend
    ports:
    - 5000:5000
    environment:
    - MONGO_URI=mongodb://mongo:27017/vista
    - JWT_SECRET=supersecretkey
    - NODE_ENV=development
    #deploy:
    #  resources:
    #    limits:
    #      # Set a limit (soft cap)
    #     cpus: '2.0' # 2 full CPU cores
    #      memory: 2048M # 2048 Megabytes of RAM
    #    reservations:
    #      # Guarantee a minimum reservation
    #      cpus: '1.0' # Reserve 1 full CPU cores
    #      memory: 1024M # Reserve 128 Megabytes of RAM
    depends_on:
    - mongo
    volumes:
    - ./backend:/app
    - backend_node_modules:/app/node_modules
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
    - 27017:27017
    volumes:
    - mongo-data:/data/db
volumes:
  mongo-data: null
  backend_node_modules: null
